################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Figure/.vs/Figure/v15/Server/sqlite3
